*{
	margin: 0px;
	padding: 0px;
}
.bgimage{
	     background-image: url(https://images.unsplash.com/photo-1518665750801-883c188a660d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
	     background-size: 100% 100%;
	     width: 100%;
	     height: 100%;
}
.menu{
	   width: 100%;
	   height: 50px;
	   background-color: rgba(0,0,0,0.5);
}
.leftmenu{
	width: 25%;
	line-height: 70px;
	float: left;

}
.leftmenu h4{
	  padding-left: 70px;
	  font-weight: bold;
	  color: white;
	  font-size: 25px;
	  margin-top: 10px;
	  margin-bottom: 2PX;
	  font-family: 'algerian' ,sans-serif;
}
.rightmenu{
	  width:75%;
	  height: 100px;
	  float: right;
	 /* background-color: blue;*/
}
.rightmenu ul{
	        margin-left:250px;
}
.rightmenu ul li {
           font-family: 'montserrat' ,sans-serif;
           display: inline-block;
           list-style: none;
           font-size: 15px;
           color: white;
         
           line-height: 58px;
           margin-left: 40px;
           text-transform: uppercase;
}
.rightmenu ul li:hover{
	      color: orange;
}
.text{
	  width: 100%;
	  margin-top: 165px;
	  text-transform: uppercase;
	  text-align: center;
}
.text h4{
	  font-size: 12px;
}
.text h1{
	 font-size: 50px;
	 margin: 14px 0px;
	 font-family: montserrat;
}
.text h3{
	  font-size: 20px;
}
#buttonone{
	    background-color: solid red;
	    border:none;
	    font-size: 12px;
	    font-family: 'montserrat'sans-serif ;
	    font-weight: bold;
	    text-transform: uppercase;
	    line-height: 40px;
	    width: 150px;
	    margin-top: 25px;
	    border:3px solid white;
}
#buttontwo{
	 background-color: transparent;
	    border:none;
	    font-size: 12px;
	    font-family: 'montserrat'sans-serif ;
	    font-weight: bold;
	    text-transform: uppercase;
	    line-height: 40px;
	    width: 150px;
	    margin-top: 25px;
	    border:none;
	    margin-left:6px;
	    border: black;
}



.Gellrey{
	  height: 900px;
	  width: 100%;
	  padding: 50px 0px 50px;

}
.Gellrey h1{
	font-size: 50px;
	font-weight: bold;

}
.card{
	margin-top: 40px;

}
.ourteam{
	height: 500px;
	  width: 100%;
	  padding: 50px 0px 60px;
}
.teamsetting{
	 margin-top: 50px !important;
}
/*footer*/
/*footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #111;
}
.main-content{
	  display: flex;

}
.main-content .box{
	  flex-basis: 50%
	  padding: 10px 20px; 
}
.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}
.box .content{
	margin: 20px 0 0 0;
}
.left .content p{
	text-align: justify;
}
.left .content .social{
	margin: o 2px;
}
.left .content .social a{
	padding:  0 2px;
}
.left .content .social a span{
	 height: 40px;
	 width: 40px;
	 background: #1a1a1a;
	 line-height: 40px;
	 text-align: center;
	 font-size: 18px;
	 border-radius: 5px;
	}
	*/



/*//////////responsive/////*/
/*@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');*/
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;

}
body{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #ede7f6;
}
footer{
	position: relative;
	width: 100%;
	height:auto;
	padding: 50px 100px;
	background: #111;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
}
footer .container .sec{
	 margin-right: 30px;

}
footer .container .sec.aboutus{
	 width: 40%;
}
footer .container .sec.aboutus h2{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;

}
footer .container .sec.aboutus h2:before{
	   content: '';
	   position: absolute;
	   bottom: -5px;
	   left: 0;
	   width: 50px;
	   height: 2px;
	   background: #f00;
}
footer p
{
color: #999;
}
.social{
	margin-top: 20px;
	display: flex;
}
.social a{
	list-style: none;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	border-radius: 4px;
}
.social a .fa{
	color: #fff;
	font-size: 20px;

}

.center{
	width: calc(35% - 60px);
	margin-right: 0 !important;
}
.center .place{
	position: relative;

}
.center .place span{

	
}

@media(min-width: 992px){

}
@media(min-width: 768px) and (max-width: 991px){

}
@media(min-width: 575px) and (max-width: 767px){

}
@media(min-width: 480px) and (max-width: 574px){

} 
@media(man-width: 479px) {
      
      .Gellrey{
	  height: 60px;
	 
	 }
	 .ourteam{
	height: 50px;
	  
}

}


